---
layout: base
---

{% if page.title == 'Acappella' %}
<div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
    <img class="ri-loading-image" src="../assets/img/loading.gif"/>
    {% include_relative youtube_videos_ul.html %}
</div>
<link rel="stylesheet" type="text/css" href="../assets/css/grid-rotator-style.css"/>
<script type="text/javascript" src="../assets/js/modernizr.custom.26633.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.gridrotator.js"></script>
<script>
    var jQuery_1_8_3 = $.noConflict(true);
</script>
<script type="text/javascript" src="../assets/js/rotate.js"></script>
{% endif %}
{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
    <div class="row">
        <!-- <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">-->
        <div class="{% if page.full-width %} col {% else %} col-xl-10 col-lg-10 offset-lg-1 {% endif %}">
            {% if page.before-content %}
            <div class="before-content">
                {% for file in page.before-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

            {{ content }}

            {% if page.after-content %}
            <div class="after-content">
                {% for file in page.after-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

            {% include comments.html %}
        </div>
    </div>
</div>
